* {
    margin: 0;
    padding: 0;
    background-color: #FFFDD0;
}

:root {
    --purple: #a766a7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

header {
    font-size: 175%;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

h2 {
    font-size: 100%;
    font-weight: lighter;
    text-align: center;
    margin: 20px;
}

a:link {
    text-decoration: none;
}

ol {
    list-style: 1;
}

ol li {
    background: var(--purple);
    margin: 0 auto;
    margin-block: 10px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}

#start-button {
    margin: 0 auto;
    font-size: 250%;
    background-color: var(--purple);
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 15px;
    width: fit-content;
    text-decoration: none;
    color: #000000;
}

li:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #616060 inset;
}

li:active {
    box-shadow: 0 0 20px #272727 inset;
}

#start-button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #616060 inset;
}

#start-button:active {
    box-shadow: 0 0 20px #272727 inset;
}